.chart {
    font-family: verdana;
    text-align: center;
}

.bar rect {
  fill: steelblue;
}

.bar text.value {
  fill: black;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  stroke: black;
  fill: none;
}

.grid tick  {
  stroke: lightgrey;
}

.grid path  {
  stroke-width: 0;
}

.x.axis path {
  stroke: black;
}

.y.axis path {
  stroke: black;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 100px;                 
  padding: 2px;             
  font: 14px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

