.chart {
    font-family: verdana;
    text-align: center;
}

.bar {
  fill: steelblue;
}

.bar rect {
  fill: steelblue;
}

.bar text.value {
  fill: black;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ccc;
}

.grid {
    stroke: gray;
    fill: none;
    stroke-width: 1px;
    opacity: 0.5;
}

.grid path  {
  fill: none;
}

.x.axis path {
  stroke: grey;
  stroke-opacity: .5;
  opacity: 0.5;
  display: none;
}

.y.axis path {
  stroke: black;
  stroke-opacity: .5;
  opacity: 0.5;
  display: none;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 100px;                 
  padding: 2px;             
  font: 14px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

