{% extends 'd3_base.html' %}
{% load static %}
{% load common_tags %}

{% block page_title %}
    Viewing Histogram : {{ episode.course }} : {{ episode.title }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>{{ episode.course }} : {{ episode.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>
                <a href="{% url 'attendance-series' episode.series %}">Course Student Report</a>
                |
                <a href="{% url 'attendance-lectures' episode.series %}">Course Lecture Report</a>
                |
                Histogram View
                |
                <a href="{% url 'attendance-detailed' episode.mpid %}">Detailed View</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center histogram">
            <div id="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Course ID</strong>:
            {{ episode.series }}<br/>
            <strong>Mediapackage ID</strong>:
            {{ episode.mpid }}<br/>
            <strong>Date</strong>:
            {{ episode.start | episode_date }}<br/>
            <strong>Duration</strong>:
            {{ episode.duration | video_length }}<br/>
        </div>
    </div>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){
        // Should change to viewports
        var width = 1060,
            height = 500;

        var margin = {top: 40, right: 10, bottom: 50, left: 60},
            w = width - margin.left - margin.right,
            h = height - margin.top - margin.bottom;

        var formatCount = d3.format(",.0f"),
            formatTime = d3.time.format("%H:%M");

        var y = d3.scale.linear().range([h, 0]),
            x = d3.scale.ordinal().rangeRoundBands([0, w], .1)

        var svg = d3.select("#graph").append("svg")
                .attr("width", width )
                .attr("height", height )
                .append("g")
                .attr("transform", "translate(" + margin.left + "," +  margin.top + ")");

        d3.json("{% url 'lecture-data' mpid %}", function(error, data) {
            if (error) throw error;
            data = tallyViewCount(data)

            var xmax = d3.max(data, function(d) { return d.key  });
            var i=0; // nticks
            var nticks = ((xmax/10)|0);  // ~ 10 ticks in the axis
            var formatSeconds = function(d) {
                    if (xmax > 8000 ) {
                        if (((d / nticks)|0) == i) { // find closest 
                            i = i+1;
                            return formatTime(new Date(2016, 0, 1, 0, 0, d));
                        }
                    }
                    else
                        return formatTime(new Date(2016, 0, 1, 0, 0, d));
                };
            var xAxis = d3.svg.axis().scale(x)
                    .orient("bottom")
                    .tickFormat(formatSeconds),
                yAxis = d3.svg.axis().scale(y).orient("left")
                    .tickFormat(d3.format("d"));
            // Set the scale domain.
            //x.domain(formatSeconds(0), formatSeconds(d3.max(data, function(d) { return d.key;})));
            x.domain(data.map(function(d) { return d.key; }));
            y.domain([0, d3.max(data, function(d) { return d.values  })]);

            var bar = svg.selectAll("g.bar")
                    .data(data)
                    .enter().append("g")
                    .attr("class", "bar")
                    .attr("transform", function(d) { return "translate(" + x(d.key) + ",0)"; });

            bar.append("rect")
                    .attr("y", function(d){ return y( d.values) })
                    .attr("height", function(d) { return h - y(d.values); })
                    .attr("width", x.rangeBand());

            /*
            bar.append("text")
                    .attr("class", "value")
                    .attr("y", function(d) { return y(d.values); })
                    .attr("x", x.rangeBand() / 2)
                    .attr("dy", "1.5em")
                    .attr("dx", ".35em")
                    .attr("text-anchor", "end")
                    .text(function(d) { if (d.values > 0) return formatCount( d.values); });
                */

            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0,"+ h +")")
                    .call(xAxis);

            svg.append("text")
                    .style("text-anchor", "middle")
                    .attr("transform", "translate("+ (width/2) +","+ (h+ margin.bottom) +")")  // centre below axis
                    .attr("dy", "-1em")
                    .text("Timepoint in the Video");

            svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("x",-h)
                    .attr("y",-margin.left )
                    .attr("dy", "1.5em")
                    .attr("transform", "rotate(-90)")
                    .style("text-anchor", "start")
                    .text("Number of times watched by students");

        });
    });
</script>
{% endblock %}
