
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">

    ledash

    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'lecture-index' %}">lecture</a></li>
      <li><a href="{% url 'attendance-index' %}">attendance</a></li>
    </ul>
    <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/" role="login">
      <div class="form-group">
        <input class="form-control" id="username" name="username"
        placeholder="username" type="text"></input>
        <input class="form-control" id="password" name="password"
        placeholder="password" type="passoword"></input>
      </div>
      <button type="submit" class="btn btn-default">Log in</button>
    </form>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

