{% extends 'attendance/base.html' %}
{% load common_tags %}

{% block page_title %}
    Attendance Report for {{ episode.course }}: {{ episode.title }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>Attendance Report</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5><a href="{% url 'attendance-series' episode.series %}">{{ episode.course }}</a>: {{ episode.title }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="report-table" class="display">
                <thead>
                    <td>Name</td>
                    <td>HUID</td>
                    <td>Status</td>
                    <td>% Viewed</td>
                </thead>
            {% for row in attendance %}
                <tr>
                    <td>{{ row.student.name }}</td>
                    <td>{{ row.student.huid }}</td>
                    <td>{{ row.student.status }}</td>
                    <td>{{ row.score }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Viewing Histogram</strong>:
                <a href="{% url 'lecture' episode.mpid %}">Lecture</a><br/>
                <strong>Series</strong>:
                {{ episode.series }}<br/>
                <strong>Mediapackage ID</strong>:
                {{ episode.mpid }}<br/>
                <strong>Date</strong>:
                {{ episode.start }}<br/>
                <strong>Duration</strong>:
                {{ episode.duration | video_length }}<br/>
            </div>
        </div>
    </div>

{% endblock %}

