{% extends 'attendance/base.html' %}

{% block page_title %}
    Attendance Report for {{ episode.course }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>Attendance Report</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>{{ episode.course }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="report-table" class="display">
                <thead>
                    <td>Name</td>
                    <td>HUID</td>
                    <td>% Lectures Viewed</td>
                </thead>
            {% for student in attendance %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.huid }}</td>
                    <td>{{ student.score }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

