{% extends 'datatables_base.html' %}

{% block content %}

    {% include "chart_title_include.html" %}

    <div class="row">
        <div class="col-md-12">
            <table id="report-table" class="display">
                <thead>
                    <td>Name</td>
                    <td>HUID</td>
                    <td>% Lectures Viewed</td>
                </thead>
            {% for student in attendance %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.huid }}</td>
                    <td>{{ student.score }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <br/>
    {% include "metadata_course.html" %}

{% endblock %}

